@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Inter", sans-serif;
}
:root{
    --taxt-color: #FF5588;

}
.continar{
    /* margin: 0px 70px; */
    margin-left: 370px;
    margin-right: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio{
    display: flex;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;

}
.left-section{
    margin-right: 50px;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    margin: 25px 0px;
}
.btn{
    width: 70%;
    padding: 10px 50px ;
    border: 1px solid black;
    border-radius: 10px;
}
.icon-1:hover{
    color: var(--taxt-color);
    cursor: pointer;
    scale: 1.6;
}
.icon-2:hover{
    color: var(--taxt-color);
    cursor: pointer;
    scale: 1.6;
}
.icon-3:hover{
    color: var(--taxt-color);
    cursor: pointer;
    scale: 1.6;
}
.icon-4:hover{
    color: var(--taxt-color);
    cursor: pointer;
    scale: 1.6;
}
.btn:hover{
    background-color: var(--taxt-color);
    color: white;
    cursor: pointer;
    scale: 1.1;
    border: none;
    
}
.right-section .taxt{
    color: #FF5588;
    font-size: 20px;
    font-weight: normal;
}
.left-section img{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
}
.right-section h1{
    font-size: 35px;
    font-weight: 400;
    color: black;
}
.right-section p{
    font-size: 20px;
    font-weight: 400;

}
.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    
}
.cards h1{
    color: #FF5588;
}
.About span{
    color: var(--taxt-color);
}
.About{
    margin-left: 370px;
    margin-top:  50px;
    font-size: 20px;
    font-weight: 400;

}
.About-2 .taxt{
    color: #FF5588;

}
.About-2{
    margin-top: 50px;
    margin-left: 370px;
    font-size: 17px;
    font-weight: 400;

}
.card{
    border: 1px solid black;
    margin-left: 30px;
    padding: 10px 40px;
    border-radius: 20px;
}
.card:hover{
    cursor: pointer;
    border: 3px solid  #FF5588;
}
.card-2{
    display: flex;

}
.section-3{
    margin-left: 370px;
    margin-top: 50px;
}
.section-3 span{
    color: #FF5588;
}
.section-4{
    margin-left: 370px;
    margin-top: 50px;
}
.section-4 span{
    color: #FF5588;
}
.section-4 h1{
    margin-bottom: 60px;
}
.section-4 img{
    gap: 60px;
    opacity: 0.7px;
    margin-top:  10px;
    margin-bottom: 40px;
}
.section-4 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}
.section-5{
    margin-left: 370px;
    margin-top: 50px;
}
.section-5 span{
    color: var(--taxt-color);
}
.section-5 h1{
    margin-bottom: 20px;
}
.class-2{
    display: flex;
    margin-right: 30px;
}
.taxt-2{
    margin-left: 50px;
    margin-bottom: 30px;
}
.section-6{
    margin-top: 50px;
    margin-left: 370px;
    font-size: 16px;
}
.section-7{
    margin-top: 40px;
    font-size: 24px;
}
.section-6 span{
    color: #FF5588;
}
.section-8{
    border: 1px solid black;
    border-radius: 40px;
    padding: 80px;
    margin-bottom: 50px;
}
.section-9{
    margin-left: 370px;
    margin-bottom: 50px;
}
.section-9 span{
    color: var(--taxt-color);
}
.section-9 h1{
    margin-bottom: 50px;
}
.class-3{
    margin-left: 670px;
}
.form-div label{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 30px 0px;

}
.form-input{
    border: none;
    border-bottom: 2px solid #F6F0F2;
    width: 100%;
    margin-top: 20px;
}
.form-input :focus{
    outline: none;
}
.button{
    /* padding: 40px 80px; */
    width: 300px;
    height: 80px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #999999;
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
}
.button:hover{
    color: aliceblue;
    background-color: #FF5588;
    border: none;

}
